/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

$inuit-base-spacing-unit: 24px !default;

/**
 * Begin a layout group.
 */
.l,
.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$inuit-base-spacing-unit;
}

  /**
   * Apply widths (possibly within media queries) to items to build a layout.
   */
  .l__item,
  .layout__item {
    float: left;
    display: flex;
    flex-direction: column;
    padding-left: $inuit-base-spacing-unit;
  }



/**
 * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
 * markup will display in order 4, 3, 2, 1 on your page.
 */
.l--reverse,
.layout--reverse {
  flex-direction: row-reverse;
  flex-wrap: row-reverse;
}



/**
 * Make the layout items fill up from the left, right, or center.
 */
.l--left, layout--left      { justify-content: flex-start; }
.l--center, layout--center  { justify-content: center; }
.l--right, layout--right    { justify-content: flex-end; }



/**
 * Align layout items to the vertical baseline, top, middle, or bottom of each other.
 */
.l--baseline, layout--baseline  { align-items: baseline; }
.l--top, layout--top            { align-items: flex-start; }
.l--middle, layout--middle      { align-items: center; }
.l--bottom, layout--bottom      { align-items: flex-end; }



/**
 * Distribute layout items with space around, or between them.
 */
.l--around, layout--around    { justify-content: space-around; }
.l--between, layout--between  { justify-content: space-between; }
